* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

body {
  background-color: #bab2b5;
  background-image: url("../img/backgroundimg.png");
  height: 1200px;
}

a {
  color: #fff8d3;
  font-family: 'Kreon', serif;
  font-size: 1.1rem;
  text-decoration: none;
}

header {
  background-color: #f0d032;
  height: 150px;
  padding-top: 15px;
  width: 100%;
}

header img {
  background-color: #faba08;
  border: 1px solid #123c69;
  border-radius: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

nav {
  background-color: #123c69;
  height: 50px;
  position: relative;
  text-align: center;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}

nav ul ul {
  display: none;
  margin-top: 5px;
  padding: 0;
  position: absolute;
  text-align: left;
}

nav ul ul li {
  background-color: #123c69;
  border: 1px solid #bab2b5;
  display: block;
  margin-left: 0;
  margin-top: 0;
  padding: 5px;
  text-align: left;
  width: 80px;
}

.info ul {
  margin-left: 240px;
  margin-top: 10px;
}

.info2 ul {
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}

nav li:hover ul {
  display: block;
}

main {
  background-repeat: repeat;
  height: 1050px;
  padding-top: 15px;
  width: 100%;
}

.info {
  background-color: #faba08;
  color: #123c69;
  display: block;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  max-width: 890px;
  padding: 30px 60px;
}

h1,
h2 {
  font-family: 'Kreon', serif;
}

.info img {
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info h1 {
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
  text-decoration: underline;
}

.info h3 {
  font-family: 'Kreon', serif;
  font-size: 1.3rem;
}

footer {
  background-color: #123c69;
  color: #fff8d3;
  font-size: 0.8rem;
  height: 80px;
  margin-top: 100px;
  padding-top: 30px;
  text-align: center;
}

.top {
  height: 250px;
  width: 768px;
}

.top img {
  display: inline;
  float: left;
  margin-right: 20px;
}

.top h6 {
  clear: left;
  display: inline;
}

.top p {
  margin-bottom: 72px;
  margin-top: 10px;
  width: 760px;
}

.middle {
  height: 250px;
  margin-bottom: 20px;
  padding-top: 30px;
  width: 768px;
}

.middle img {
  display: block;
  float: right;
  margin-left: 20px;
}

.middle h6 {
  display: inline;
  float: right;
}

.middle h3 {
  clear: left;
  display: inline;
  float: left;
}

.middle p {
  clear: left;
  display: inline;
  float: left;
  margin-bottom: 78px;
  margin-top: 10px;
  width: 540px;
}

.bottom {
  height: 250px;
  padding-top: 30px;
  width: 768px;
}

.bottom img {
  display: block;
  float: left;
  margin-right: 20px;
}

.bottom h6 {
  clear: left;
  display: inline;
}

.bottom p {
  margin-bottom: 29px;
  margin-top: 10px;
  width: 760px;
}

hr {
  clear: both;
}

.center hr,
.margin {
  align-self: center;
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 768px;
}

#adjust {
  bottom: 20px;
  position: relative;
}

.inline {
  display: inline;
}

.center {
  text-align: center;
}

.center p {
  margin-bottom: 50px;
}

.center h3 {
  margin-bottom: 5px;
}

textarea {
  height: 200px;
  width: 500px;
}

input {
  width: 200px;
}

#marginleft {
  margin-left: 200px;
}

.info2 ul li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 30px;
  margin-left: 50px;
  text-decoration: none;
}

.info2 p {
  padding: 0 20px;
}

.selfie {
  float: left;
}

.adjust p,
.adjust h2 {
  margin-left: 320px;
}
